@model GlossaryWebUI.Models.GlossaryModel
<br />
<br />

<div class="container">
    <input type="hidden" id="hdntermid" value="" />
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                @Html.LabelFor(m => m.Term)
                @Html.TextBoxFor(m => m.Term, new { @class = "form-control" })
                @Html.ValidationMessageFor(m=>m.Term)
            </div>
        </div>
        <!--  col-md-6   -->

        <div class="col-md-12">
            <div class="form-group">
                @Html.LabelFor(m => m.Definition)
                @Html.TextAreaFor(m => m.Definition, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Definition)
            </div>
        </div>
        <!--  col-md-6   -->
    </div>
    <button type="submit" value="submit" class="btn btn-primary">Save</button>
</div>